
@media (min-width: 1201px) {


    .menu-principal {

        display: flex;
        justify-content: center;
        text-align: center;

    }


.inicial {

    display: flexbox;
}

 
}


.titulo-producto {

    text-align: center;
    font-size: 25px;
    color: black;
}



.parrafo-corrido {

    font-size: 18px;
    text-align: 25px;
    margin: 20px;
}

.producto-tienda {
    float: left;
    margin-right: 20px;
    max-width: 40%;

}
