* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

font-face {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

font-face {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: rgb(236, 234, 232);
  font-size: 30px;
  justify-content: center;
  background-color: #88c51e;
  text-align: center;
}

h2 {
  color: rgb(244, 230, 234);
  background-color: darkolivegreen;
  font-size: 34px;
  justify-content: center;
  display: flex;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  padding-bottom: 20px;
  margin-bottom: 30 px;
  padding-top: 20px;
}

@media (max-width: 600px) {
  h1 {
    color: #e5e3e3;
    font-size: 20px;
    justify-content: center;
    background-color: #99a71b;
    text-align: center;
  }
  h2 {
    color: rgb(244, 230, 234);
    background-color: #556b2f;
    font-size: 20px;
    justify-content: center;
    display: flex;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
  }
}
@media (max-width: 380px) {
  h1 {
    color: #e5e3e3;
    font-size: 20px;
    justify-content: center;
    background-color: #8e2b13;
    text-align: center;
  }
  h2 {
    color: rgb(244, 230, 234);
    background-color: #556b2f;
    font-size: 20px;
    justify-content: center;
    display: flex;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
  }
}
.imagen-contacto {
  display: none;
}

.texto-contacto {
  background-color: rgb(116, 152, 24);
  color: rgb(235, 227, 222);
  margin-bottom: 10px;
}

.formulario {
  margin: 10px;
  height: auto;
  font-size: 25px;
  background-color: rgb(208, 214, 102);
}

@media (max-width: 600px) {
  .texto-contacto {
    background-color: rgb(216, 225, 193);
    color: rgb(152, 69, 10);
    margin-bottom: 10px;
  }
  .formulario {
    margin: 10px;
    height: auto;
    font-size: 15px;
    background-color: rgb(167, 237, 148);
  }
}
@media (max-width: 380px) {
  .imagen-contacto {
    max-width: 100%;
    height: auto;
  }
  .texto-contacto {
    background-color: white;
    color: chocolate;
    margin-bottom: 10px;
  }
  .formulario {
    margin: auto;
    height: auto;
    font-size: 15px;
    background-color: rgb(223, 204, 176);
  }
}
.titulo {
  color: rgb(136, 7, 7);
  background-color: rgb(253, 254, 255);
  font-size: 32px;
  justify-content: center;
}
.titulo .imagen-inicio {
  max-width: 100%;
  height: none;
  align-items: center;
}

.texto-resaltante {
  font-size: 45px;
  text-align: center;
}

.producto-division {
  display: flex;
  gap: 50%;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  padding: 10%;
  font-size: 35px;
}
.producto-division .contenedor-producto {
  display: inline-block;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: top;
}
.producto-division .contenedor-producto .producto-inicio {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.producto-2 {
  display: inline-block;
  justify-content: center;
  width: 100%;
}
.producto-2 .producto-2 {
  border: 2px solid blue;
}

.texto-centrado {
  text-align: center;
  font-size: 55px;
  background-color: rgb(47, 176, 47);
  color: white;
  font-size: medium;
  margin-bottom: 5px;
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  .titulo {
    color: rgb(136, 7, 7);
    background-color: rgb(253, 254, 255);
    font-size: 32px;
    justify-content: center;
    text-align: center;
  }
  .imagen-inicio {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }
  .texto-resaltante {
    font-size: 30px;
    text-align: center;
  }
  .producto-division {
    display: inline;
    gap: 10%;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    padding: 5%;
    font-size: 35px;
  }
  .producto-division .contenedor-productos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
  }
  .producto-division .contenedor-productos .producto-inicio {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .producto-division .contenedor-productos .producto-inicio .producto-2 {
    display: inline-block;
    justify-content: center;
    width: 100%;
  }
  .texto-centrado {
    text-align: center;
    font-size: 35px;
    background-color: rgb(47, 176, 47);
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
  }
  img {
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .titulo {
    color: maroon;
    background-color: white;
    font-size: 20px;
    font-family: kanit, sans-serif;
  }
  .texto-resaltante {
    font-size: 25px;
    text-align: center;
  }
  .imagen-inicio {
    width: 100%;
    border-radius: 10%;
  }
  .producto-division {
    display: inline;
    gap: 10%;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    padding: 5%;
    font-size: 35px;
  }
  .producto-division .contenedor-productos {
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: baseline;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    background-color: white;
  }
  .producto-division .contenedor-productos .producto-inicio {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .producto-division .contenedor-productos .producto-inicio .producto-2 {
    display: inline-block;
    justify-content: center;
    width: 100%;
  }
  .parrafo-articulos {
    margin: 10px;
    font-size: 15px;
    text-align: justify;
  }
  img {
    width: 100%;
  }
  .texto-centrado {
    background-color: rgb(47, 176, 47);
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.titulosecundario {
  color: rgb(136, 7, 7);
  background-color: rgb(253, 254, 255);
  justify-content: center;
}

.portada-origen-cacao {
  display: flexbox;
  margin: 20px;
}
.portada-origen-cacao .portada-origen {
  max-width: 100%;
  height: none;
}

.origen-del-cacao {
  font-size: 30px;
  text-align: center;
  margin-top: 120px;
  color: maroon;
}

.parrafo-articulos {
  text-align: center;
  font-size: 100px;
  color: black;
}

.portada-origen-cacao {
  text-align: 25px;
  font-size: 20px;
  margin: 50px;
}

.manos-con-cacao {
  width: 100%;
  height: 100%;
  margin: 20px;
}

.mujeres-barlovento {
  display: flex;
  height: none;
  justify-content: center;
  background-color: #1f7d34;
  color: white;
}
.mujeres-barlovento .mujeres-origen {
  border-radius: 10%;
  align-items: baseline;
  display: block;
  width: 15%;
  text-align: center;
}
.mujeres-barlovento .mujeres-origen .mujer-texto {
  text-align: center;
  display: block;
  color: rgb(241, 247, 247);
}

.filosofia {
  color: rgb(136, 7, 7);
  background-color: white;
  font-size: 35px;
  margin: 20px;
}
.filosofia .texto-filosofia {
  font-size: 20px;
  text-align: justify;
}
.filosofia .texto-filosofia .filosofia-cacao {
  display: flex;
  margin: 20px;
}

@media (max-width: 600px) {
  .portada-origen {
    max-width: 100%;
    height: auto;
  }
  .origen-del-cacao {
    text-align: center;
    color: rgb(121, 47, 18);
    font-size: 30px;
  }
  .parrafo-articulos {
    margin: 10px;
    font-size: 25px;
    text-align: justify;
  }
  .mujeres-barlovento {
    display: inline-block;
    justify-content: center;
    align-content: center;
    background-color: #628f13;
    color: white;
    font-size: 30px;
  }
  .mujeres-barlovento .mujeres-origen {
    border-radius: 40%;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    width: 90%;
    justify-content: center;
    padding: 10%;
  }
}
.mujer-texto {
  text-align: center;
  color: rgb(241, 247, 247);
}

.manos-con-cacao {
  width: 100%;
  height: auto;
}

.filosofia {
  font-size: 30 px;
  margin: 10px;
  background-color: rgb(126, 67, 24);
  color: white;
}
.filosofia .texto-filosofia {
  font-size: 15px;
  margin: 40px;
  text-align: justify;
}

@media (max-width: 380px) {
  .portada-origen {
    max-width: 100%;
    height: auto;
  }
  .origen-del-cacao {
    text-align: center;
    color: rgb(130, 20, 20);
    font-size: 30px;
  }
  .parrafo-articulos {
    margin: 10px;
    font-size: 15px;
    text-align: justify;
  }
  .mujeres-barlovento {
    display: inline-block;
    height: none;
    margin: none;
    justify-content: center;
    background-color: #2f6b3b;
    color: white;
  }
  .mujeres-barlovento .mujeres-origen {
    border-radius: 30%;
    align-items: center;
    width: 100%;
    margin: none;
    height: auto;
    display: flex;
  }
  .mujer-texto {
    text-align: center;
    display: block;
    color: rgb(241, 247, 247);
  }
  .manos-con-cacao {
    max-width: 100%;
    height: auto;
  }
  .manos-con-cacao .filosofia {
    font-size: 20px;
    margin: 10px;
    background-color: rgb(126, 67, 24);
    color: white;
  }
  .manos-con-cacao .filosofia .texto-filosofia {
    font-size: 15px;
    margin: 10px;
    text-align: justify;
  }
}
.parrafo-articulos {
  font-size: 18px;
  text-align: 25px;
  margin: 20px;
  text-align: justify;
}

.lista-productos {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.descripcion-producto {
  width: 100%;
  overflow: hidden;
}

.parrafo-articulo {
  text-align: center;
  color: rgb(155, 112, 32);
}

@media (max-width: 600px) {
  .producto-tienda {
    max-width: 80%;
  }
  .parrafo-articulo {
    text-align: center;
    font-size: 25px;
    color: rgb(52, 35, 4);
  }
  .lista-productos {
    list-style: inside;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .producto-division {
    display: flexbox;
    width: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    align-content: center;
  }
}
@media (max-width: 380px) {
  .producto-tienda {
    max-width: 80%;
  }
  .lista-productos {
    margin: 0;
    padding: 0;
    background-color: bisque;
  }
  .parrafo-articulo {
    text-align: center;
    color: rgb(155, 112, 32);
  }
}
.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: none;
}
.nav .menu-principal {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
.nav .menu-principal .menu-elemento {
  display: inline-block;
  margin-right: 60px;
}
.nav .menu-principal a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  .nav .menu-principal {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    font-size: 1.2rem;
    text-align: center;
  }
  .nav .menu-principal .menu-elemento {
    display: inline-block;
    margin-right: 5px;
  }
  .nav .menu-principal a {
    text-decoration: none;
  }
}
@media (max-width: 380px) {
  .nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 20px;
  }
  .nav .menu-principal {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }
  .nav .menu-principal .menu-elemento {
    display: inline-block;
    margin-right: 5px;
  }
  .nav .menu-principal a {
    text-decoration: none;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: none;
  width: none;
}
.logo .texto-logo {
  color: maroon;
  background-color: white;
  font-size: 45px;
  font-family: kanit, sans-serif;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .logo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: none;
    width: none;
  }
  .logo .texto-logo {
    color: maroon;
    background-color: white;
    font-size: 35px;
    font-family: kanit, sans-serif;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .logo {
    display: inline-block;
    align-items: center;
    font-size: 1rem;
    height: fit-content;
  }
  .logo .texto-logo {
    color: maroon;
    background-color: white;
    font-size: 35px;
    font-family: kanit, sans-serif;
    align-items: center;
  }
}
.contenedor-footer {
  background-color: rgb(158, 212, 158);
  color: rgb(39, 24, 6);
  text-align: center;
  font-size: 35px;
}
.contenedor-footer .elementos-footer {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-align: justify;
  list-style: none;
}
.contenedor-footer .elementos-footer ul {
  list-style: none;
}

@media (max-width: 600px) {
  .contenedor-footer {
    background-color: rgb(200, 212, 158);
    color: rgb(39, 24, 6);
    font-size: 15px;
  }
  .contenedor-footer .elementos-footer {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    text-align: justify;
  }
  .contenedor-footer .elementos-footer ul {
    list-style: none;
  }
}
@media (max-width: 380px) {
  .contenedor-footer {
    background-color: rgb(158, 212, 158);
    color: rgb(39, 24, 6);
    font-size: 15px;
  }
  .contenedor-footer .elementos-footer {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    text-align: justify;
  }
  .contenedor-footer .elementos-footer ul {
    list-style: none;
  }
}

/*# sourceMappingURL=styles.css.map */
