
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

font-face {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
color: rgb(236, 234, 232);
font-size: 30px;
justify-content: center;
background-color: #88c51e;
text-align: center;

}

h2 {
    color: rgb(244, 230, 234);

    background-color: darkolivegreen;
    font-size: 34px;
    justify-content: center;
    display: flex;

    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
}

div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
}


@media ( max-width: 600px){


    h1{
        color: #e5e3e3;
        font-size: 20px;
        justify-content: center;
        background-color: #99a71b;
        text-align: center;
        
        }

h2 {
    color: rgb(244, 230, 234);

    background-color: #556b2f;
    font-size: 20px;
    justify-content: center;
    display: flex;

    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
}

div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
}


}





@media ( max-width: 380px){


    h1{
        color: #e5e3e3;
        font-size: 20px;
        justify-content: center;
        background-color: #8e2b13;
        text-align: center;
        
        }

h2 {
    color: rgb(244, 230, 234);

    background-color: #556b2f;
    font-size: 20px;
    justify-content: center;
    display: flex;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

}

div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
}


}



