
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

font-face {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
color: rgb(107, 79, 60);
font-size: 20px;
justify-content: center;

}

h2 {
    color: rgb(244, 230, 234);

    background-color: darkolivegreen;
    font-size: 34px;
    justify-content: center;
    display: flex;
}

div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
}







@media ( max-width: 380px){


    h1{
        color: rgb(107, 79, 60);
        font-size: 20px;
        justify-content: center;
        
        }

h2 {
    color: rgb(244, 230, 234);

    background-color: #556b2f;
    font-size: 20px;
    justify-content: center;
    display: flex;
}

div {
    padding-bottom: 20px;
    margin-bottom: 30 px;
    padding-top: 20px;
}


}



