.titulo {

    color: rgb(136, 7, 7);
    background-color: rgb(253, 254, 255);
    font-size: 32px;
    justify-content: center;

    .imagen-inicio {

        max-width: 100%;
        height: none;
        align-items: center;
    }
}

.texto-resaltante {
    font-size: 45px;
    text-align: center;
}

.producto-division {
    display: flex;
    gap: 50%;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    padding: 10%;
    font-size: 35px;



    .contenedor-producto {
        display: inline-block;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        vertical-align: top;



        .producto-inicio {
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-bottom: 30px;
            padding: 10px;
            text-align: center;
            vertical-align: middle;



        }


    }
}




.producto-2 {

    display: inline-block;
    justify-content: center;
    width: 100%;

    .producto-2 {
        border: 2px solid blue;
    }


}




.texto-centrado {
    text-align: center;
    font-size: 35px;
    background-color: rgb(47, 176, 47);
    color: white;
    margin-bottom: 5px;
}

img {

    width: 100%;

}



@media (max-width: 600px) {

    .titulo {

        color: rgb(136, 7, 7);
        background-color: rgb(253, 254, 255);
        font-size: 32px;
        justify-content: center;
        text-align: center;
    }

    .imagen-inicio {

        width: 100%;
        height: auto;
        border-radius: 10%;
    }

    .texto-resaltante {
        font-size: 30px;
        text-align: center;
    }


    .producto-division {
        display: inline;
        gap: 10%;
        width: 100%;
        justify-content: center;
        font-size: 25px;
        padding: 5%;
        font-size: 35px;

        .contenedor-productos {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            vertical-align: top;

            .producto-inicio {
                display: inline-block;
                width: 100%;
                height: 100%;
                margin-bottom: 30px;
                padding: 10px;
                text-align: center;
                vertical-align: middle;

                .producto-2 {
                    display: inline-block;
                    justify-content: center;
                    width: 100%;

                }
            }

        }
    }



    .texto-centrado {
        text-align: center;
        font-size: 35px;
        background-color: rgb(47, 176, 47);
        color: white;
        margin-bottom: 5px;
    }

    img {

        max-width: 100%;
    }


}

@media (max-width: 380px) {



    .titulo {
        color: maroon;
        background-color: white;
        font-size: 20px;
        font-family: kanit, sans-serif;

    }

    .texto-resaltante {
        font-size: 25px;
        text-align: center;
    }

    .imagen-inicio {

        width: 100%;
        border-radius: 10%;
    }


    .producto-division {
        display: inline;
        gap: 10%;
        width: 100%;
        justify-content: center;
        font-size: 25px;
        padding: 5%;
        font-size: 35px;

        .contenedor-productos {
            display: inline-block;
            width: 100%;
            flex-wrap: wrap;
            justify-content: baseline;
            vertical-align: middle;
            text-align: center;
            margin-top: 10px;
            background-color: white;

            .producto-inicio {
                display: inline-block;
                width: 100%;
                height: 100%;
                margin-bottom: 5px;
                padding: 10px;
                text-align: center;
                vertical-align: middle;


                .producto-2 {
                    display: inline-block;
                    justify-content: center;
                    width: 100%;

                }


            }
        }

    }




    .parrafo-articulos {

        margin: 10px;
        font-size: 15px;
        text-align: justify;
    }

    img {
        width: 100%;
    }

    .texto-centrado {

        background-color: rgb(47, 176, 47);
        color: white;
        font-size: 20px;
        margin-bottom: 5px;

    }

}