
@media ( max-width: 320px){

.portada-origen {

    max-width: 100%;
    height: auto;
}

.origen-del-cacao {

    text-align: center;
    color: rgb(130, 20, 20);
    font-size: 20px;

}


.parrafo-articulos {

    margin: 10px;
    font-size: 15px;
    text-align: justify;
}

.mujeres-origen {
    border-radius: 30%;
    align-items: center;
    margin: auto;
    height: auto;
    display: block;

}

.manos-con-cacao {

    max-width: 100%;
    height: auto;
}


.filosofia {

    font-size: 25px;
    margin: 10px;
    background-color: rgb(126, 67, 24);
}
.texto-filosofia {

    font-size: 15px;
    margin: 10px;
    text-align: justify;


}

}