
.parrafo-articulos {

    font-size: 18px;
    text-align: 25px;
    margin: 20px;
    text-align: justify;

}

.lista-productos{
    margin: 0;
    padding: 0;
    background-color: bisque;
}


.descripcion-producto {

    width: 100%;
    overflow: hidden;
}

.parrafo-articulo{

    text-align: center;
    color: rgb(155, 112, 32);
}

@media (max-width: 768px ) {





}



@media ( max-width: 320px){
.producto-tienda{

    max-width: 80%;
}

.lista-productos{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.parrafo-articulo{

    text-align: center;
    color: rgb(155, 112, 32);
}


}