.parrafo-articulos {

    font-size: 18px;
    text-align: 25px;
    margin: 20px;
    text-align: justify;

}

.lista-productos {
    margin: 0;
    padding: 0;
    background-color: bisque;
}


.descripcion-producto {

    width: 100%;
    overflow: hidden;
}

.parrafo-articulo {

    text-align: center;
    color: rgb(155, 112, 32);
}

@media (max-width: 600px) {

    .producto-tienda {

        max-width: 80%;
    }


    .parrafo-articulo {

        text-align: center;
        font-size: 25px;
        color: rgb(52, 35, 4);
    }

    .lista-productos {
        list-style: inside;
        margin: 0;
        padding: 0;
        background-color: white;
    }


    .producto-division {
        display: flexbox;
        width: 50%;
        vertical-align: top;
        text-align: center;
        font-size: 20px;
        align-content: center;
    }



}



@media (max-width: 380px) {
    .producto-tienda {

        max-width: 80%;
    }

    .lista-productos {
        margin: 0;
        padding: 0;
        background-color: bisque;
    }

    .parrafo-articulo {

        text-align: center;
        color: rgb(155, 112, 32);
    }


}